<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.viewpager2library">

    <application>
        <activity android:name=".viewpager2.FragmentVP2Activity"></activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>